<div class="card">
  <header class="card-header card-header-title">
    <div class="columns">
      <div class="column">
        <p>
          <a href="/post/{{id}}" class="has-text-black a">{{title}}</a>
        </p>
      </div>
      <div class="column"></div>
    </div>
  </header>
  <div class="card-content">
    <div class="has-text-grey">{{post_content}}</div>
    <div>
      {{users.username}}
      {{format_date created_at}}
      <a href="/post/{{id}}">{{comments.length}} Comments</a>
    </div>
  </div>
</div>