<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; Return to dashboard</a>
  <h2 class="title mt-5">Edit post</h2>
  <hr>
  <form class="edit-post-form">
    <div>
      <label for="post-title">Post Title:</label>
      <input class="input" id="post-title" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-content">Post Content:</label>
      <textarea class="textarea" id="post-content" name="post-content">{{post.post_content}}</textarea>
    </div>
    <div>
      Created on {{format_date post.created_at}} |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{"comments"}}</a>
    </div>
    <button type="submit" class="button">Save post</button>
    <button type="button" class="button delete-post-btn">Delete post</button>
  </form>
</article>

{{> comments post.comments}}

<script src="/scripts/edit-post.js"></script>
<script src="/scripts/delete-post.js"></script>
<script src="/scripts/comments.js"></script>